@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@model eHR.PMS.Web.Models.DTO.AppraisalPage
@{int index = 0;}

 <div class="frame">
       <form action="@(Url.Content("~/Stage1/PerformanceCoachingandReview/"))@Model.CurrentTaskId/@Model.Appraisal.Id" method="post">        
        <ul id="sectionlist" class="nav nav-tabs">
            @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Sections))
              {
                  bool flag = false;
                  foreach (eHR.PMS.Model.DTO.Master.Section sc in Model.Sections)
                  {
                      if (sc.Name.Replace(" ", "").ToLower() == ViewContext.RouteData.Values["Action"].ToString().ToLower())
                      {
                          flag = true;
                          <li class="active"><a sectionid="@sc.Id" href="@(Url.Content("~/Stage1/"))@(sc.Name.Replace(" ", ""))/@(Model.CurrentTaskId)/@(Model.Appraisal.Id)#" >@sc.Name</a><input type="hidden" value="@sc.Id" name="SectionID" /></li>  
                      }
                      else
                      {
                          if (flag && (!Model.ViewOnly))
                          {
                                    <li><a sectionid="@sc.Id" class="Next" href="#" >@sc.Name</a></li>
                          }
                          else
                          {
                                <li><a sectionid="@sc.Id" href="@(Url.Content("~/Stage1/"))@(sc.Name.Replace(" ", ""))/@(Model.CurrentTaskId)/@(Model.Appraisal.Id)#" >@sc.Name</a></li>
                          }
                      }
                  }
              }
            }  
        </ul>
        <div  class="row" style="padding:10px;">
          <div class="col-md-10">
                   <fieldset>
                      <div class="form-group">
                        <label for="StrengthsArea">Employee's areas of strengths: </label>
                        @{    
                            
                            if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Appraisal.PerformanceCoachings))
                            {
                                if (Model.ViewOnly)
                                {
                                <textarea id="StrengthsArea" name="StrengthsArea" class="form-control idleField" rows="3" disabled="disabled">@Model.Appraisal.PerformanceCoachings.First().AreasOfStrength</textarea> 
                                }
                                else
                                {
                                <textarea id="StrengthsArea" name="StrengthsArea" class="form-control idleField" rows="3">@Model.Appraisal.PerformanceCoachings.First().AreasOfStrength</textarea> 
                                }
                            }
                            else
                            {
                                if (Model.ViewOnly)
                                {
                                 <textarea id="StrengthsArea" name="StrengthsArea" class="form-control idleField" rows="3" disabled="disabled"></textarea>  
                                }
                                else
                                {
                                 <textarea id="StrengthsArea" name="StrengthsArea" class="form-control idleField" rows="3"></textarea>  
                                }
                            }
                        } 
                      </div>
                      <div class="form-group">
                        <label for="ImprovementsArea">Employee's areas for improvements and developmental needs: </label>
                        @{
                            if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Appraisal.PerformanceCoachings))
                            {
                                if (Model.ViewOnly)
                                {
                                <textarea id="ImprovementsArea" name="ImprovementsArea" class="form-control idleField" rows="3" disabled="disabled">@Model.Appraisal.PerformanceCoachings.First().AreasOfImprovement</textarea> 
                                }
                                else
                                {
                                <textarea id="ImprovementsArea" name="ImprovementsArea" class="form-control idleField" rows="3">@Model.Appraisal.PerformanceCoachings.First().AreasOfImprovement</textarea> 
                                }
                            }
                            else
                            {
                                if (Model.ViewOnly)
                                {
                                 <textarea id="ImprovementsArea" name="ImprovementsArea" class="form-control idleField" rows="3" disabled="disabled"></textarea>  
                                }
                                else
                                {
                                 <textarea id="ImprovementsArea" name="ImprovementsArea" class="form-control idleField" rows="3"></textarea>  
                                }
                            }
                                                   
                        }
                      </div>
                      <div class="form-group">
                            <a href="javascript:void(0)" class="ViewKpiComments btn btn-warning btn-xs" ><i class="glyphicon glyphicon-pencil"></i> View Comments</a>                        
                            <div style="display:none;">
                                 @{ if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Appraisal.PerformanceCoachings))
                                    {
                                        IEnumerable<eHR.PMS.Model.DTO.Appraisal.PerformanceCoachingComment> templist = Model.Appraisal.PerformanceCoachings.First().Comments;
                                                       if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(templist) && templist.Where(s => s.FormSaveOnly == false).Count()>0)
                                                      {
                                                        
                                                        <div class="Comments">
                                                                <div style="width:500px;">                                                   
                                                                <ul class="list-group">
                                                              @foreach (eHR.PMS.Model.DTO.Appraisal.Comment comment in templist.Where(s => s.FormSaveOnly == false))
                                                              {
                                                                     <li class="list-group-item">
                                                                     <span class="badge">By @(comment.Commentor.PreferredName) on @(Convert.ToDateTime(comment.CommentedTimestamp).ToString("hh:mm tt, dd-MMM-yyyy"))</span>                                                                                                                           
                                                                     <br />
                                                                     <p style="word-wrap:break-word;">@comment.Comments</p>
                                                                     </li>
                                                              }
                                                                </ul> 
                                                                </div>                                                  
                                                     
                                                       </div>
                                                      }
                                                      else
                                                      {
                                                        <div class="Comments"></div>
                                                      }
                                                  }
                                                  }
                            </div>
                      </div>
                    <div id="buttongroup" style="text-align: center;">
                     <div style="float:left;">
                         <a href="@(Url.Content("~/Stage1/CoreValues/"))@(Model.CurrentTaskId)/@Model.Appraisal.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-hand-left"></i> Prev</a>
                           @{if (!Model.ViewOnly)
                             {
                                <button type="button" id="stage1kpisubmit" class="btn btn-warning btn-xs">Next <i class="glyphicon glyphicon-hand-right"></i></button>
                                <!--<a href="@(Url.Content("~/Stage1/CareerDevelopment/"))@Model.CurrentTaskId/@Model.Appraisal.Id" class="btn btn-warning btn-xs">Skip <i class="glyphicon glyphicon-share-alt"></i></a>-->
                             }
                             else
                             {
                                <a href="@(Url.Content("~/Stage1/CareerDevelopment/"))@Model.CurrentTaskId/@Model.Appraisal.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-hand-right"></i> Next</a>
                             }
                            }
                                     
                     </div>
                     <!--<button type="button" id="stage1kpisubmit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Submit</button>
                     -->
                     <div style="float:right;">
                        @{if (!Model.ViewOnly)
                          {
                            <button type="button" data-loading-text="Saving...." id="stage1kpisave" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-save"></i> Save</button>
                            <button type="button" class="btn btn-danger btn-xs" id="btn_appraisal_cancel"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
                          }
                          else
                          {
                            <a href="@(Url.Content("~/"))" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</a>
                          }
                         } 
                     </div>
                    </div>
                    <!--<div id="buttongroup" style="text-align: center;">
                        <button type="button" id="stage1kpisubmit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Submit</button>
                        <button type="button" data-loading-text="Saving...." id="stage1kpisave" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save</button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
                    </div>-->
                   </fieldset>
           

            <!--pop up info for submit -->
            <div style="top:50%;" class="modal fade" id="SubmitInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                        <div class="alert alert-warning alert-dismissable">
                          <strong>Are you sure submit your Performance Coaching now?</strong>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-loading-text="Submit...." class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
           
                       <!--pop up info for cancel -->
            <div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>@(eHR.PMS.Web.Resources.Resource.MSG_CANCEL)</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

          </div>
         
        </div>
        </form>
    </div>

    

    <!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
        <div id="resultcontent" class="modal-content" style="display:none;">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@(eHR.PMS.Web.Resources.Resource.MSG_SAVE_SUCCESS_PERFORMANCE_COACHING.Replace("[%DEADLINE%]",Model.SubmissionDeadline))</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!--pop up info for redirect-->
    <div style="top:50%;" class="modal fade" id="RedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="submitcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@message</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<input type="hidden" id="forRazorValue" message='@message' exportPDFurl="@(Url.Content("~/Home/pdfExport/" + Model.Appraisal.Id))"  
saveurl="@(Url.Content("~/Stage1/PerformanceCoachingandReviewSave"))" apprid='@Model.Appraisal.Id'
    rooturl="@(Url.Content("~/"))" autosaveinterval="@eHR.PMS.Web.Resources.Resource.AUTO_SAVE_INTERVAL"  viewmode="@(Model.ViewOnly?"view":"input")"/>
@section scripts
        {
        <!--<script type="text/javascript">
            require["~/Scripts/module/home/Index"];
        </script>-->
        <script type="text/javascript" src="@(Url.Content("~/Scripts/module/stage1/PerformanceCoachingandreview.js"))"></script>
        }
