@model eHR.PMS.Web.Models.DTO.AppraisalProfilePage
@{  string str_previous_url = Request.UrlReferrer.AbsolutePath; }

<div style="padding:20px 50px;">
        <input type="hidden" id="apprid" value="@Model.Appraisal.Id" />
        <div id="StaffInformation" class="row panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#StaffInformation" href="#collapseOne">
                      Staff Information
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">                 
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.PreferredName)">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Employee ID: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.DomainId)">
                            </div>
                            <label class="col-sm-2 control-label">ACR Grade: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.ACRGrade.Name)">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Department: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.Department.Name)">
                            </div>
                            <label class="col-sm-2 control-label">Employment Type: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.EmploymentType.Name)">
                            </div>
                          </div>
                    </form>              
                  </div>
                </div>
            </div>
           </div>
        <div id="AppraisalCycleInformation" class="row panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#Financials" href="#collapseTwo">
                      Appraisal Cycle Information
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">                 
                         <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cycle Name: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Cycle.Name)" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Review Period Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                    <label class="col-sm-2 control-label">Review Period End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                  </div>
                  <!--
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Goal Setting Phase Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                    <label class="col-sm-2 control-label">Goal Setting Phase End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Progress Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_PROGRESS_REVIEW))">
                    </div>
                    <label class="col-sm-2 control-label">Progress Review End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_PROGRESS_REVIEW))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Final Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                    <label class="col-sm-2 control-label">Final Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                  </div>
                  -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Senior Management Team Member: </label>
                    <div class="col-sm-4">
                    @{if (Model.User.Id != Model.Appraisal.Employee.Id && ViewData["hr_user"].Equals("Y"))
                        {
                            <input usrid="@(Model.GetSeniorManagementTeamMemberId())" type="text" class="form-control SMT" value="@(Model.GetSeniorManagementTeamMemberName()) (@(Model.GetSeniorManagementTeamMemberDomainId()))" >
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                        }
                        else
                        {
                            <input type="text" class="form-control" disabled="disabled" value="@(Model.GetSeniorManagementTeamMemberName()) (@(Model.GetSeniorManagementTeamMemberDomainId()))">
                        }
                     }
                    </div>
                  </div>
                    @{if (Model.User.Id != Model.Appraisal.Employee.Id && ViewData["hr_user"].Equals("Y"))
                      {
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="button" data-loading-text="Saving...." id="smtsave" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-save"></i> Save SMT Member</button>
                            </div>
                        </div>
                      }
                    }
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Level 1 Approver: </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id != Model.Appraisal.Employee.Id && ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="@(Model.Appraisal.GetApproverByLevel(1).EmployeeId)" type="text" class="form-control Approver1" value="@(Model.Appraisal.GetApproverByLevel(1).PreferredName) (@(Model.Appraisal.GetApproverByLevel(1).DomainId))" >
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                            <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.GetApproverByLevel(1).PreferredName) (@(Model.Appraisal.GetApproverByLevel(1).DomainId))">
                          }
                         }
                    </div>                    
                    <label class="col-sm-2 control-label">Level 2 Approver: </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id != Model.Appraisal.Employee.Id && ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="@(Model.Appraisal.GetApproverByLevel(2).EmployeeId)" type="text" class="form-control Approver2" value="@(Model.Appraisal.GetApproverByLevel(2).PreferredName) (@(Model.Appraisal.GetApproverByLevel(2).DomainId))" >
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                            <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.GetApproverByLevel(2).PreferredName) (@(Model.Appraisal.GetApproverByLevel(2).DomainId))">
                          }
                         }
                    </div>  
                  </div>
                    @{if (Model.User.Id != Model.Appraisal.Employee.Id && ViewData["hr_user"].Equals("Y"))
                      {
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="button" data-loading-text="Saving...." id="approversave" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-save"></i> Save Approvers</button>
                            </div>
                        </div>
                      }
                    }
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Reviewer 1 : </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="" type="text" class="form-control Reviewer" value="@(Model.GetAppraisalFirstReviewerName() == null ? "" : Model.GetAppraisalFirstReviewerName() + " (" + Model.Appraisal.Reviewers[0].DomainId + ")")" >
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                            <input usrid="" type="text" class="form-control Reviewer" disabled="disabled" value="@(Model.GetAppraisalFirstReviewerName() == null ? "" : Model.GetAppraisalFirstReviewerName() + " (" + Model.Appraisal.Reviewers[0].DomainId + ")")" >
                          }
                         }
                    </div>
                    <label class="col-sm-2 control-label">Reviewer 2 : </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="" type="text" class="form-control Reviewer" value="@(Model.GetAppraisalSecondReviewerName() == null ? "" : Model.GetAppraisalSecondReviewerName() + " (" + Model.Appraisal.Reviewers[1].DomainId + ")")" >
                             <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                             <input usrid="" type="text" class="form-control Reviewer" disabled="disabled" value="@(Model.GetAppraisalSecondReviewerName() == null ? "" : Model.GetAppraisalSecondReviewerName() + " (" + Model.Appraisal.Reviewers[1].DomainId + ")")" >  
                          }
                         }
                    </div>
                    </div>
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="button" data-loading-text="Saving...." id="reviewersave" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-save"></i> Save Reviewers</button>
                                </div>
                            </div>
                          }
                        }
            </form>           
                  </div>
                </div>
            </div>
           </div>       
            <div style="float:right;">
                <button type="button" class="btn btn-danger btn-xs" id="btn_appraisal_cancel"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
            </div>

        </div>
            
         <!--pop up info for ajaxsave -->
<div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
        <div id="resultcontent" class="modal-content" style="display:none;">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong id="modalmessage">Reviewers has been saved successfully!</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->   

<div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>All information that are not saved will be discarded. Are you sure you want to return to the previous page?</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

<div style="top:50%;" class="modal fade" id="ErrorInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong id="errormodalmessage">ERROR</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

<input type="hidden" id="forRazorValue" searchurl="@(Url.Content("~/Home/SearchEmployeeByName"))" 
    saveurl="@(Url.Content("~/Home/SaveProfile"))" saveapprurl="@(Url.Content("~/Home/SaveProfileApprovers"))" savesmturl="@(Url.Content("~/Home/SaveProfileSMT"))"
    previousurl="@str_previous_url" />    
        @section scripts
        {
        <!--<script type="text/javascript">
            require["~/Scripts/module/home/Index"];
        </script>-->
        <script type="text/javascript" src="@(Url.Content("~/Scripts/module/home/AppraisalProfile.js"))"></script>
        }
