@model eHR.PMS.Web.Models.DTO.AppraisalProfilePage
@{  string str_previous_url = Request.UrlReferrer.AbsolutePath; }

<div style="padding:20px 50px;">
        <input type="hidden" id="apprid" value="@Model.Appraisal.Id" />
        <div id="StaffInformation" class="row panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#StaffInformation" href="#collapseOne">
                      Staff Information
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">                 
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.PreferredName)">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Domain ID: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.DomainId)">
                            </div>
                            <label class="col-sm-2 control-label">ACR Grade: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.ACRGrade.Name)">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Department: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.Department.Name)">
                            </div>
                            <label class="col-sm-2 control-label">Employment Type: </label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Employee.EmploymentType.Name)">
                            </div>
                          </div>
                    </form>              
                  </div>
                </div>
            </div>
           </div>
        <div id="AppraisalCycleInformation" class="row panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#Financials" href="#collapseTwo">
                      Appraisal Cycle Information
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">                 
                         <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cycle Name: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.Cycle.Name)" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Review Period Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                    <label class="col-sm-2 control-label">Review Period End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Goal Setting Phase Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                    <label class="col-sm-2 control-label">Goal Setting Phase End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_GOAL_SETTING))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Progress Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_PROGRESS_REVIEW))">
                    </div>
                    <label class="col-sm-2 control-label">Progress Review End Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_PROGRESS_REVIEW))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Final Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageStartDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                    <label class="col-sm-2 control-label">Final Review Start Date: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.GetAppraisalStageEndDate(eHR.PMS.Model.PMSConstants.STAGE_ID_FINAL_YEAR))">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Level 1 Approver: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.GetApproverByLevel(1).PreferredName)">
                    </div>
                    <label class="col-sm-2 control-label">Level 2 Approver: </label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" disabled="disabled" value="@(Model.Appraisal.GetApproverByLevel(2).PreferredName)">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Reviewer 1 : </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="" type="text" class="form-control Reviewer" value="@(Model.GetAppraisalFirstReviewerName() == null ? "" : Model.GetAppraisalFirstReviewerName() + " (" + Model.Appraisal.Reviewers[0].DomainId +")")" >
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                            <input usrid="" type="text" class="form-control Reviewer" disabled="disabled" value="@(Model.GetAppraisalFirstReviewerName() == null ? "" : Model.GetAppraisalFirstReviewerName() + " (" + Model.Appraisal.Reviewers[0].DomainId + ")")" >
                          }
                         }
                    </div>
                    <label class="col-sm-2 control-label">Reviewer 2 : </label>
                    <div class="col-sm-4">
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <input usrid="" type="text" class="form-control Reviewer" value="@(Model.GetAppraisalSecondReviewerName() == null ? "" : Model.GetAppraisalSecondReviewerName() + " (" + Model.Appraisal.Reviewers[1].DomainId + ")")" >
                             <span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"></span>
                          }
                          else
                          {
                             <input usrid="" type="text" class="form-control Reviewer" disabled="disabled" value="@(Model.GetAppraisalSecondReviewerName() == null ? "" : Model.GetAppraisalSecondReviewerName() + " (" + Model.Appraisal.Reviewers[1].DomainId + ")")" >  
                          }
                         }
                    </div>
                    </div>
                        @{if (Model.User.Id == Model.Appraisal.Employee.Id || ViewData["hr_user"].Equals("Y"))
                          {
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="button" data-loading-text="Saving...." id="reviewersave" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-save"></i> Save Reviewers</button>
                                </div>
                            </div>
                          }
                        }
            </form>           
                  </div>
                </div>
            </div>
           </div>       
            <div style="float:right;">
                <button type="button" class="btn btn-danger btn-xs" id="btn_appraisal_cancel"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
            </div>

        </div>
            
         <!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
        <div id="resultcontent" class="modal-content" style="display:none;">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>Reviewers has been saved successfully!</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->   

            <div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>All information that are not saved will be discarded. Are you sure you want to return to the previous page?</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        
        <script type="text/javascript">
            $(function () {
                var obj = new Object();
                $('.Reviewer').on('keyup', function () {
                    obj = $(this);
                    obj.next().html("");
                    if (obj.val() != "") {
                        $.ajax({
                            url: "@(Url.Content("~/Home/SearchEmployeeByName"))",
                            dataType: 'json',
                            type: 'POST',
                            data: { name: obj.val() },
                            success: function (data) {
                                if (obj.next().css('display') == 'none')
                                    obj.next().css('display', 'block');
                                var html = '<div class="tt-dataset-0"><span class="tt-suggestions" style="display: block;">';
                                $.each(data, function (index) {
                                    html = [html, '<div usrid="', data[index].Id, '" class="tt-suggestion" style="white-space: nowrap; cursor: pointer;">', '<p style="white-space: normal;">', data[index].PreferredName + " (" + data[index].DomainId + ")", '</p>', '</div>'].join('');
                                });
                                html = [html, '<span></div>'].join('');
                                $(html).appendTo(obj.next());
                                $(".tt-suggestion").mouseover(function () {
                                    $(this).addClass("tt-is-under-cursor");
                                }).mouseleave(function () {
                                    $(this).removeClass("tt-is-under-cursor");
                                })
                                $(".tt-dropdown-menu").on('mousedown', '.tt-suggestion', function () {
                                    obj.attr('usrid', $(this).attr("usrid"));
                                    obj.val($(this).children().text());
                                    obj.next().hide();
                                });
                                obj.focus(function () {
                                    obj.next().show();
                                }).blur(function () {
                                    obj.next().hide();
                                });
                            }
                        });
                    }
                    else {
                        obj.next().hide();
                    }
                });

                $("#reviewersave").click(function () {
                    var reviewers = "";
                    $.each($(".Reviewer"), function (index) {
                        if ($(this).val() != "")
                            reviewers = [reviewers, '|', $(this).attr("usrid")].join('');
                    });
                    if(reviewers!="")
                        reviewers = reviewers.substring(1, reviewers.length);
                    $.ajax({
                        url: "@(Url.Content("~/Home/SaveProfile"))",
                        dataType: 'json',
                        type: 'POST',
                        data: { "reviewers": reviewers, "apprid": parseInt($("#apprid").val()) },
                        beforeSend: function () {
                            $('#resultcontent').hide();
                            $('#loadingcontent').show();
                            $('#InfoModal').modal();
                        },
                        success: function (data) {
                            if (data == "") {
                                $('#loadingcontent').hide();
                                $('#resultcontent').show();
                            }
                        }
                    });
                });

                $("#btn_appraisal_cancel").click(function () {
                    $('#CancelInfoModal').modal();
                });

                $("#btn_cancel_modal_ok").click(function () {
                    window.location.href("@(Url.Content(str_previous_url))");
                });
            });
        </script>
