@model eHR.PMS.Web.Models.DTO.CycleManagementPage
@{
    Dictionary<string, string> form = (Dictionary<string, string>)TempData["QueryData"];
    int int_participants_page_size = 10;
    var cycleid = ViewContext.RouteData.Values["cycleId"];
}
<div class="well" style="margin:35px;">
    <form method="post" action="@(Url.Content("~/"))HRManage/AddParticipants/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage1EndDate"].ToString()))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage3EndDate"].ToString()))/@cycleid" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="EmployeeName" class="col-sm-1 control-label">Name: </label>
        <div class="col-sm-2 input-group">
        @{
            if (form == null)
            {
                <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" />
            }
            else
            {
                <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" value="@form["EmployeeName"]">                  
                <input type="hidden" id="hidEmployeeName" value="@form["EmployeeName"]" />                
            }
           }
        </div>
        <label for="DomainID" class="col-sm-2 control-label">Domain ID: </label>
        <div class="col-sm-2 input-group">
          @{
              if (form == null)
              {
                <input type="text" class="form-control" id="DomainID" name="DomainID" />
              }
              else
              {
                <input type="text" class="form-control" id="DomainID" name="DomainID" value="@form["DomainID"]">
                <input type="hidden" id="hidDomainID" value="@form["DomainID"]" />                  
              }
           }
        </div>
        <label for="DepartmentName" class="col-sm-2 control-label">Department Name: </label>
        <div class="col-sm-2 input-group">
          @{
              if (form == null)
              {
                <input type="text" class="form-control" id="DepartmentName" name="DepartmentName" />
              }
              else
              {
                <input type="text" class="form-control" id="DepartmentName" name="DepartmentName" value="@form["DepartmentName"]">                
                <input type="hidden" id="hidDepartmentName" value="@form["DepartmentName"]" />
              }
           }
        </div>
      </div>      
      <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-search"></i> Search</button>            
            </div>
        </div>
    </form>
</div>
<div>
<div id="Participants" class="row maintable" >
    <div class="panel-group" id="accordion1" style="padding:20px 50px;">           
            <div class="panel panel-success" style="overflow:visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      <i class="glyphicon glyphicon-list"></i> Employee List
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body" style="padding:0px;">
                       <table class="table table-bordered" style="border-collapse:collapse;border-spacing:0px 0px;">
                          <thead>
                          <tr class="success">
                            <th></th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Number of level of approvers</th>                           
                          </tr>
                          </thead>
                          <tbody id="eicontent">
                          @if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                          {
                              foreach (eHR.PMS.Model.DTO.Appraisal.Appraisal ei in Model.Participants.Take(int_participants_page_size).ToList())
                              {
                              <tr>
                                <td style="text-align:center;">
                                    <input eid="@ei.Employee.Id" objectvalue="@(ei.Employee.Id)^&*@(ei.Employee.DomainId)^&*@(ei.Employee.FirstName)^&*@(ei.Employee.LastName)^&*@(ei.Employee.Department != null ? ei.Employee.Department.Name : null)^&*@(ei.Employee.GetNumberOfApprovers())^&*@(ei.Employee.Department != null ? ei.Employee.Department.Id:0)^&*ONERECORDENDED" type="checkbox" class="isadd" />
                                </td>
                                <td>@(ei.Employee.PreferredName)</td>
                                <td>@(ei.Employee.Department.Name)</td>
                                <td>@(ei.Employee.GetNumberOfApprovers())</td>
                              </tr>
                              }
                          }
                          </tbody>
                       </table> 
                       <div style="text-align:center;">
                            <span id="pages"></span>
                            <!--<span>Go to Page: <select id="showpage">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            </span>-->
                       </div>     
                  </div>
                  
                </div>
            </div>
            <div id="buttongroup" style="float:right;margin-top:20px;margin-bottom:20px;">
             <div">
                 @{ if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                    {
                        <button type="button" id="AddParticipants" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Add</button>
                    }
                       
                  }
                 <!--<a href="@(Url.Content("~/HRManage/NewCycle"))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage1EndDate"].ToString()))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage3EndDate"].ToString()))" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-off"></i> Cancel</a>-->
                 <a href="@(Url.Content("~/HRManage/CancelAddRemove"))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage1EndDate"].ToString()))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage3EndDate"].ToString()))/@cycleid" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-off"></i> Back</a>                
             </div>
             <ul id="totallist" style="display:none;">
             </ul>
    </div>
        </div>
        </div>
    
</div>
<!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
    <div style="top:50%;" class="modal fade" id="RedictModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong id="info"></strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for Add -->
    <div style="top:50%;" class="modal fade" id="ConfirmAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong id="addinfo"></strong>
                </div>
          </div>
          <div class="modal-footer">
            <!--<a href="@(Url.Content("~/HRManage/NewCycle/"))@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage1EndDate"].ToString()))/@(eHR.PMS.Lib.Utility.Common.ChangeDateFormatVS(ViewData["Stage3EndDate"].ToString()))" class="btn btn-primary btn-xs">OK</a>-->
            <button type="button" id="btn_add_modal_ok" class="btn btn-primary">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script type="text/javascript" src="@(Url.Content("~/Scripts/bootstrap-paginator.js"))"></script>
<script type="text/javascript">
    $(function () {
        var total = '@(eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants) == true ? 0 : Model.Participants.Count());';
        var intTotal = parseInt(total);
        if (intTotal != 0) {
            var pagenum = (intTotal % 10 != 0 ? (intTotal / 10 + 1) : (intTotal / 10));
            var options = {
                currentPage: 1,
                totalPages: pagenum,
                size: 'small',
                useBootstrapTooltip: true,
                onPageClicked: function (e, originalEvent, type, page) {
                    $.ajax({
                        url: "@(Url.Content("~/HRManage/RetriveAddParticipantsByPage"))",
                        type: "post",
                        dataType: "json",
                        data: { "page": page, "Stage1EndDate": '@(ViewData["Stage1EndDate"].ToString())', "Stage3EndDate": '@(ViewData["Stage3EndDate"].ToString())', "EmployeeName": $("#hidEmployeeName").val(), "DomainID": $("#hidDomainID").val(), "DepartmentName": $("#hidDepartmentName").val() },
                        beforeSend: function () {
                            $('#InfoModal').modal(); ;
                        },
                        success: function (data) {
                            $("#eicontent").html(data);
                            $('#InfoModal').modal('hide');
                        }
                    });
                }
            }

            $('#pages').bootstrapPaginator(options);
        }
        $('#showpage').change(function () {
            var page = $(this).val();
            $('#pages').bootstrapPaginator("show", page);
        })
        $("#eicontent").on("click", ".isadd", function () {
            if ($(this).prop("checked")) {
                var html = "<li class='participant' eid='" + $(this).attr("eid") + "'>" + $(this).attr("objectvalue") + "</li>";
                $(html).appendTo($("#totallist"));
            }
            else {
                var selector = "#totallist li[eid='" + $(this).attr("eid") + "']";
                $(selector).remove();
            }
        });

        $("#btn_add_modal_ok").click(function(){
            $("#EmployeeName").val($("#hidEmployeeName").val());
            $("#DomainID").val($("#hidDomainID").val());
            $("#DepartmentName").val($("#hidDepartmentName").val());
            $("form").submit();
        });

        $("#AddParticipants").click(function () {
            if ($("#totallist li").length == 0) {
                $("#info").text("Please select at least one record for addition.");
                $('#RedictModal').modal();
                return false;
            }
            var EIForCache = "";
            $.each($(".participant"), function () {
                EIForCache = [EIForCache, $(this).text()].join();
            });
            $.ajax({
                url: "@(Url.Content("~/HRManage/ConfirmAdd"))",
                type: "post",
                dataType: "json",
                data: { "cycleDateRangeStart": '@(ViewData["Stage1EndDate"].ToString())', "cycleDateRangeEnd": '@(ViewData["Stage3EndDate"].ToString())', "EIForCache": EIForCache.substr(1) },
                beforeSend: function () {
                    $('#InfoModal').modal();
                },
                success: function (data) {
                    $("#addinfo").text(data);
                    $('#InfoModal').modal('hide');
                    $('#ConfirmAddModal').modal();
                }
            });
        });
    });
</script>
