@model eHR.PMS.Web.Models.DTO.CycleManagementPage
@{
    var message = TempData["AlertMessage"] ?? string.Empty;
    var msg_error = TempData["ErrorMessage"] ?? string.Empty;
    Dictionary<string, string> form = (Dictionary<string, string>)TempData["QueryData"];
    int int_participants_page_size = 10;
}
<div class="well" style="margin:35px;">
    <form method="post" action="@(Url.Content("~/HRManage/ManageCycle"))" class="form-horizontal" role="form">
      <div class="form-group">
      <div class="alert alert-danger alert-dismissable" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong id="errormsg"></strong>
        </div>
      <input type="hidden" value="0" id="updatecycle" name="updatecycle" /> 
      @{
          if (Model.CurrentCycle != null)
          {
              <input type="hidden" attrname="@Model.CurrentCycle.Name" value="@Model.CurrentCycle.Id" id="whetherpostback"/>
          }
          else
          {
              <input type="hidden" value="-1" attrname="" id="whetherpostback"/>              
          }
      }
      
        <label for="cyclename" class="col-sm-2 control-label">Cycle Name: </label>
        <div class="col-sm-4">
            <select name="cycleid" id="cycleid" class="selectpicker">
                <option value="-1">choose cycle</option>
                @foreach (eHR.PMS.Model.DTO.Cycle.Cycle cycle in @Model.Cycles)
                {
                      <option value="@cycle.Id">@cycle.Name</option> 
                } 
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1StartDate" class="col-sm-2 control-label">Goal Setting Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker1">
        @{
            if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 0 && Model.CurrentCycle.CycleStages[1].StartDate.HasValue)
            {
                <input readonly="readonly" type="text" class="form-control stagedate" id="Stage1StartDate" name="Stage1StartDate" forerrormsg="Goal Setting Stage Start Date" value="@Model.CurrentCycle.CycleStages[1].StartDate.Value.ToString("dd/MM/yyyy")"/>                     
            }
            else
            {
                <input type="text" class="form-control stagedate" id="Stage1StartDate" name="Stage1StartDate" forerrormsg="Goal Setting Stage Start Date" value="" />
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage1EndDate" class="col-sm-2 control-label">Goal Setting End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker2">
          @{
              if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 0 && Model.CurrentCycle.CycleStages[1].EndDate.HasValue)
              {
                <input type="text" class="form-control stagedate" id="Stage1EndDate" name="Stage1EndDate" forerrormsg="Goal Setting Stage End Date" value="@Model.CurrentCycle.CycleStages[1].EndDate.Value.ToString("dd/MM/yyyy")"/>                                                                   
              }
              else
              {
                <input type="text" class="form-control stagedate" id="Stage1EndDate" name="Stage1EndDate" forerrormsg="Goal Setting Stage End Date"/>                  
              }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1SubmissionDeadline" class="col-sm-2 control-label">Submission Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1submissiondeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1SubmissionDeadline"))
            {
                <input type="text" class="form-control" id="Stage1SubmissionDeadline" name="Stage1SubmissionDeadline" />
                }
                else
                {
                <input type="text" class="form-control" id="Stage1SubmissionDeadline" name="Stage1SubmissionDeadline" value="@form["Stage1SubmissionDeadline"]"/>                   
                }
            }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1Level1ApprovalDeadline" class="col-sm-2 control-label">Level 1 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1level1approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1Level1ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage1Level1ApprovalDeadline" name="Stage1Level1ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage1Level1ApprovalDeadline" name="Stage1Level1ApprovalDeadline" value="@form["Stage1Level1ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1Level2ApprovalDeadline" class="col-sm-2 control-label">Level 2 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1level2approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1Level2ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage1Level2ApprovalDeadline" name="Stage1Level2ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage1Level2ApprovalDeadline" name="Stage1Level2ApprovalDeadline" value="@form["Stage1Level2ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2StartDate" class="col-sm-2 control-label">Progess Review Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker3">
           @{
               if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 1 && Model.CurrentCycle.CycleStages[2].StartDate.HasValue)
               {
                <input type="text" class="form-control stagedate" id="Stage2StartDate" name="Stage2StartDate" forerrormsg="Progress Review Stage Start Date" value="@Model.CurrentCycle.CycleStages[2].StartDate.Value.ToString("dd/MM/yyyy")"/>                                                    
               }
               else
               {
                   <input type="text" class="form-control stagedate" id="Stage2StartDate" name="Stage2StartDate" forerrormsg="Progress Review Stage Start Date">
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage2EndDate" class="col-sm-2 control-label">Progress Review End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker4">
           @{
               if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 1 && Model.CurrentCycle.CycleStages[2].EndDate.HasValue)
               {
                <input type="text" class="form-control stagedate" id="Stage2EndDate" name="Stage2EndDate" forerrormsg="Progress Review Stage End Date" value="@Model.CurrentCycle.CycleStages[2].EndDate.Value.ToString("dd/MM/yyyy")"/>                                                      
               }
               else
               {
                   <input type="text" class="form-control stagedate" id="Stage2EndDate" name="Stage2EndDate" forerrormsg="Progress Review Stage End Date">
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2SubmissionDeadline" class="col-sm-2 control-label">Submission Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2submissiondeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2SubmissionDeadline"))
            {
                <input type="text" class="form-control" id="Stage2SubmissionDeadline" name="Stage2SubmissionDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2SubmissionDeadline" name="Stage2SubmissionDeadline" value="@form["Stage2SubmissionDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2Level1ApprovalDeadline" class="col-sm-2 control-label">Level 1 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2level1approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2Level1ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage2Level1ApprovalDeadline" name="Stage2Level1ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2Level1ApprovalDeadline" name="Stage2Level1ApprovalDeadline" value="@form["Stage2Level1ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2Level2ApprovalDeadline" class="col-sm-2 control-label">Level 2 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2level2approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2Level2ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage2Level2ApprovalDeadline" name="Stage2Level2ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2Level2ApprovalDeadline" name="Stage2Level2ApprovalDeadline" value="@form["Stage2Level2ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage3StartDate" class="col-sm-2 control-label">Final Year Review Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker5">
          @{
              if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 2 && Model.CurrentCycle.CycleStages[3].StartDate.HasValue)
              {
                <input type="text" class="form-control stagedate" id="Stage3StartDate" name="Stage3StartDate" forerrormsg="Final Year Review Stage Start Date" value="@Model.CurrentCycle.CycleStages[3].StartDate.Value.ToString("dd/MM/yyyy")"/>                                     
              }
              else
              {
                <input type="text" class="form-control stagedate" id="Stage3StartDate" name="Stage3StartDate" forerrormsg="Final Year Review Stage Start Date">                  
              }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage3EndDate" class="col-sm-2 control-label">Final Year Review End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker6">
           @{
               if (Model.CurrentCycle != null && Model.CurrentCycle.CycleStages.Count > 2 && Model.CurrentCycle.CycleStages[3].EndDate.HasValue)
               {
                <input type="text" class="form-control stagedate" id="Stage3EndDate" name="Stage3EndDate" forerrormsg="Final Year Review Stage End Date" value="@Model.CurrentCycle.CycleStages[3].EndDate.Value.ToString("dd/MM/yyyy")"/>                                     
               }
               else
               {
                <input type="text" class="form-control stagedate" id="Stage3EndDate" name="Stage3EndDate" forerrormsg="Final Year Review Stage End Date">                  
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>        
      </div>

            <!--pop up info for submit -->
            <div style="top:50%;" class="modal fade" id="SubmitInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                        <div class="alert alert-warning alert-dismissable">
                          <strong>@(eHR.PMS.Web.Resources.Resource.MSG_UPDATE_CYCLE)</strong>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-loading-text="Submit...." class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

 
    </form>
</div> 
<div id="AfterRetrieve" style="display:none;"> 
<div id="Participants" class="row maintable" >
    <div class="panel-group" id="accordion1" style="padding:20px 50px;">           
            <div class="panel panel-success" style="overflow:visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      <i class="glyphicon glyphicon-list"></i> Employee List
                    </a>
                    <div style="float:right; right:5%;" class="btn-group">
                      <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" id="btn_addremove">
                        <i class="glyphicon glyphicon-move"></i> Add/Remove <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                      @{
                          if (Model.CurrentCycle != null)
                          {
                            <li><a id="AddParticipants" href="@(Url.Content("~/HRManage/AddParticipants/" + (Model.CurrentCycle.CycleStages[0].EndDate.HasValue ? Model.CurrentCycle.CycleStages[0].EndDate.Value.ToString("yyyy-MM-dd") : "") + "/" + (Model.CurrentCycle.CycleStages[2].EndDate.HasValue ? Model.CurrentCycle.CycleStages[2].EndDate.Value.ToString("yyyy-MM-dd") : "") + "/" + Model.CurrentCycle.Id))">Add Participants</a></li>                              
                            <li><a id="RemoveParticipants" href="@(Url.Content("~/HRManage/RemoveParticipants/" + (Model.CurrentCycle.CycleStages[0].EndDate.HasValue ? Model.CurrentCycle.CycleStages[0].EndDate.Value.ToString("yyyy-MM-dd") : "") + "/" + (Model.CurrentCycle.CycleStages[2].EndDate.HasValue ? Model.CurrentCycle.CycleStages[2].EndDate.Value.ToString("yyyy-MM-dd") : "") + "/" + Model.CurrentCycle.Id))">Remove Participants</a></li>
                          }
                          else
                          {
                            <li><a id="AddParticipants" href="#">Add Participants</a></li> 
                            <li><a id="RemoveParticipants" href="#">Remove Participants</a></li>                             
                          }
                      }
                        
                      </ul>
                    </div>

                  </h4>
                  @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                    {
                        <h5>
                        <span class="label label-info">Total number of employees: <label style="color:Red;">@Model.Participants.Count</label></span>
                        <span class="label label-info">number of employees with 2 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithTwoLevelsOfApproval()</label></span>                    
                        <span class="label label-info">number of employees with 1 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithOnlyOneLevelOfApproval()</label></span>                    
                        <span class="label label-info">number of employees with 0 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithNoLevelOfApproval()</label></span>                                                            
                        </h5>
                    }
                   }
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body" style="padding:0px;">
                       <table class="table table-bordered" style="border-collapse:collapse;border-spacing:0px 0px;">
                          <thead>
                          <tr class="success">
                            <th></th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Number of level of approvers</th>                           
                          </tr>
                          </thead>
                          <tbody id="eicontent">
                          @if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                          {
                              foreach (eHR.PMS.Model.DTO.Appraisal.Appraisal ei in Model.Participants)
                              {
                              <tr>
                                <td align="center"><input type="hidden" class="eid" value="@ei.Id" />
                                    @{
                                  if (ei.Id == -1)
                                  {   
                                            <img src="@Url.Content("~/Content/img/new.png")" />
                                  }
                                     }
                                </td>
                                <td>@(ei.Employee.PreferredName)</td>
                                <td>@(ei.Department != null ? ei.Department.Name : "")</td>
                                <td>@(ei.Id > 0 ? ei.Approvers.Count : ei.Employee.GetNumberOfApprovers())</td>
                              </tr>
                              }
                          }
                          </tbody>
                       </table> 
                       <div style="text-align:center;">
                            <span id="pages"></span>
                            <!--<span>Go to Page: <select id="showpage">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            </span>-->
                       </div>     
                  <div id="buttongroup" style="float:right;">
             <div>
                 <button type="button" class="btn btn-success btn-xs" id="btn_start_cycle"><i class="glyphicon glyphicon-file"></i> Update</button>
                 <button type="button" id="btn_cancel" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
             </div>
            </div>
                  </div>
                  
                </div>
            </div>
        </div>
        </div>
            </div>
                       <!--pop up info for cancel -->
<div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>All information that are not saved will be discarded. Are you sure you want to return to the main menu?</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="@(Url.Content("~/HRMAnage/CancelViewAppraisal"))" class="btn btn-primary">Yes</a>
                    <!--<button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>-->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

<!--pop up info for ajaxsave -->
<div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
<div style="top:50%;" class="modal fade" id="RedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@message</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
<div style="top:50%;" class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-warning alert-dismissable">
                  <strong>@msg_error</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
<div style="top:50%;" class="modal fade" id="RemoveParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-warning alert-dismissable">
                  <strong>There are no employees to remove.</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<input type="hidden" id="forRazorValue" nowdate='@ViewData["NowDate"]', nowdateformat="@(DateTime.Now.ToString("dd/MM/yyyy"))"
    numberappr='@(Model.GetNumberOfParticipants())' pageurl="@(Url.Content("~/HRManage/RetrieveByPage"))",
    booturl="@(Url.Content("~/"))",message='@(message)',errormsg="@(msg_error)" /> 
@section scripts
        {
        <!--<script type="text/javascript">
            require["~/Scripts/module/home/Index"];
        </script>-->
        <script type="text/javascript" src="@(Url.Content("~/Scripts/module/hrmanage/ManageCycle.js"))"></script>
        }

