@model eHR.PMS.Web.Models.DTO.NewCycleManagementPage
@{
    var message = TempData["AlertMessage"] ?? string.Empty;
    var msg_error = TempData["ErrorMessage"] ?? string.Empty;
    Dictionary<string, string> form = (Dictionary<string, string>)TempData["QueryData"];
    int int_participants_page_size = 10;
}
<div class="well" style="margin:35px;">
    <form method="post" action="@(Url.Content("~/HRManage/NewCycle"))" class="form-horizontal" role="form">
      <div class="form-group">
      <div class="alert alert-danger alert-dismissable" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong id="errormsg"></strong>
        </div>

      <input type="hidden" value="0" id="startcycle" name="startcycle" /> 
        <label for="cyclename" class="col-sm-2 control-label">Cycle Name: </label>
        <div class="col-sm-4">
           @{
               if (form == null || !form.Keys.Contains("cyclename"))
               {
                    <input type="text" class="form-control" id="cyclename" name="cyclename" value="Performance Appraisal for FY @(Convert.ToString(DateTime.Now.Year).Substring(2,2))/@(Convert.ToString(DateTime.Now.AddYears(1).Year).Substring(2,2))" />
               }
               else
               {
                    <input type="text" class="form-control" id="cyclename" name="cyclename" value="@form["cyclename"]" />                   
               }
           }
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1StartDate" class="col-sm-2 control-label">Goal Setting Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker1">
        @{
            if (form == null || !form.Keys.Contains("Stage1StartDate"))
            {
                <input type="text" class="form-control date" id="Stage1StartDate" name="Stage1StartDate" forerrormsg="Goal Setting Stage Start Date" value="@(DateTime.Now.ToString("dd/MM/yyyy"))" />
            }
            else
            {
                <input type="text" class="form-control date" id="Stage1StartDate" name="Stage1StartDate" forerrormsg="Goal Setting Stage Start Date" value="@form["Stage1StartDate"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage1EndDate" class="col-sm-2 control-label">Goal Setting End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker2">
          @{
              if (form == null || !form.Keys.Contains("Stage1EndDate"))
              {
                <input type="text" class="form-control date" id="Stage1EndDate" name="Stage1EndDate" forerrormsg="Goal Setting Stage End Date"/>
              }
              else
              {
                <input type="text" class="form-control date" id="Stage1EndDate" name="Stage1EndDate" forerrormsg="Goal Setting Stage End Date" value="@form["Stage1EndDate"]"/>                   
                <input type="hidden"  class="form-control" id="strStage1EndDate" value="@form["strStage1EndDate"]"/>                                                   
              }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1SubmissionDeadline" class="col-sm-2 control-label">Submission Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1submissiondeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1SubmissionDeadline"))
            {
                <input type="text" class="form-control" id="Stage1SubmissionDeadline" name="Stage1SubmissionDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage1SubmissionDeadline" name="Stage1SubmissionDeadline" value="@form["Stage1SubmissionDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1Level1ApprovalDeadline" class="col-sm-2 control-label">Level 1 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1level1approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1Level1ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage1Level1ApprovalDeadline" name="Stage1Level1ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage1Level1ApprovalDeadline" name="Stage1Level1ApprovalDeadline" value="@form["Stage1Level1ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage1Level2ApprovalDeadline" class="col-sm-2 control-label">Level 2 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage1level2approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage1Level2ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage1Level2ApprovalDeadline" name="Stage1Level2ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage1Level2ApprovalDeadline" name="Stage1Level2ApprovalDeadline" value="@form["Stage1Level2ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2StartDate" class="col-sm-2 control-label">Progess Review Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker3">
           @{
               if (form == null || !form.Keys.Contains("Stage2StartDate"))
               {
                <input type="text" class="form-control date" id="Stage2StartDate" name="Stage2StartDate" forerrormsg="Progress Review Stage Start Date">
               }
               else
               {
                <input type="text" class="form-control date" id="Stage2StartDate" name="Stage2StartDate" forerrormsg="Progress Review Stage Start Date" value="@form["Stage2StartDate"]"/>                   
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage2EndDate" class="col-sm-2 control-label">Progress Review End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker4">
           @{
               if (form == null || !form.Keys.Contains("Stage2EndDate"))
               {
                <input type="text" class="form-control date" id="Stage2EndDate" name="Stage2EndDate" forerrormsg="Progress Review Stage End Date">
               }
               else
               {
                <input type="text" class="form-control date" id="Stage2EndDate" name="Stage2EndDate" forerrormsg="Progress Review Stage End Date" value="@form["Stage2EndDate"]"/>                   
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2SubmissionDeadline" class="col-sm-2 control-label">Submission Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2submissiondeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2SubmissionDeadline"))
            {
                <input type="text" class="form-control" id="Stage2SubmissionDeadline" name="Stage2SubmissionDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2SubmissionDeadline" name="Stage2SubmissionDeadline" value="@form["Stage2SubmissionDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2Level1ApprovalDeadline" class="col-sm-2 control-label">Level 1 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2level1approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2Level1ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage2Level1ApprovalDeadline" name="Stage2Level1ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2Level1ApprovalDeadline" name="Stage2Level1ApprovalDeadline" value="@form["Stage2Level1ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage2Level2ApprovalDeadline" class="col-sm-2 control-label">Level 2 Approval Deadline: </label>
        <div class="col-sm-4 input-group" id="datetimepicker_stage2level2approvaldeadline">
        @{
            if (form == null || !form.Keys.Contains("Stage2Level2ApprovalDeadline"))
            {
                <input type="text" class="form-control" id="Stage2Level2ApprovalDeadline" name="Stage2Level2ApprovalDeadline" />
            }
            else
            {
                <input type="text" class="form-control" id="Stage2Level2ApprovalDeadline" name="Stage2Level2ApprovalDeadline" value="@form["Stage2Level2ApprovalDeadline"]"/>                   
            }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Stage3StartDate" class="col-sm-2 control-label">Final Year Review Start Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker5">
          @{
              if (form == null || !form.Keys.Contains("Stage3StartDate"))
              {
                <input type="text" class="form-control date" id="Stage3StartDate" name="Stage3StartDate" forerrormsg="Final Year Review Stage Start Date">
              }
              else
              {
                <input type="text" class="form-control date" id="Stage3StartDate" name="Stage3StartDate" forerrormsg="Final Year Review Stage Start Date" value="@form["Stage3StartDate"]"/>                   
              }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <label for="Stage3EndDate" class="col-sm-2 control-label">Final Year Review End Date: </label>
        <div class="col-sm-4 input-group" id="datetimepicker6">
           @{
               if (form == null || !form.Keys.Contains("Stage3EndDate"))
               {
                <input type="text" class="form-control date" id="Stage3EndDate" name="Stage3EndDate" forerrormsg="Final Year Review Stage End Date">
               }
               else
               {
                <input type="text" class="form-control date" id="Stage3EndDate" name="Stage3EndDate" forerrormsg="Final Year Review Stage End Date" value="@form["Stage3EndDate"]"/>                   
                <input type="hidden" class="form-control" id="strStage3EndDate" value="@form["strStage3EndDate"]"/>                                   
               }
           }
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>        
      </div>
      <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="btn_retrieve_participants" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-cloud-download"></i> Retrieve Participants</button>            
            </div>
        </div>

            <!--pop up info for submit -->
            <div style="top:50%;" class="modal fade" id="SubmitInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                        <div class="alert alert-warning alert-dismissable">
                          <strong>Are you sure you want to start the appraisal cycle now?</strong>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-loading-text="Submit...." class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

 
    </form>
</div> 
<div id="AfterRetrieve" style="display:none;"> 
<div id="Participants" class="row maintable" >
    <div class="panel-group" id="accordion1" style="padding:20px 50px;">           
            <div class="panel panel-success" style="overflow:visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      <i class="glyphicon glyphicon-list"></i> Employee List
                    </a>
                    <div style="float:right; right:5%;" class="btn-group">
                      <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" id="btn_addremove">
                        <i class="glyphicon glyphicon-move"></i> Add/Remove <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a id="AddParticipants" href="@(Url.Content("~/HRManage/AddNewParticipants/"))@(form["strStage1EndDate"] == null ? "" : form["strStage1EndDate"].ToString())/@(form["strStage3EndDate"] == null ? "" : form["strStage3EndDate"].ToString())">Add Participants</a></li>
                        <li><a id="RemoveParticipants" href="@(Url.Content("~/HRManage/RemoveNewParticipants/"))@(form["strStage1EndDate"] == null ? "" : form["strStage1EndDate"].ToString())/@(form["strStage3EndDate"] == null ? "" : form["strStage3EndDate"].ToString())">Remove Participants</a></li>
                      </ul>
                    </div>

                  </h4>
                  @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                    {
                        <h5>
                        <span class="label label-info">Total number of employees: <label style="color:Red;">@Model.Participants.Count</label></span>
                        <span class="label label-info">number of employees with 2 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithTwoLevelsOfApproval()</label></span>                    
                        <span class="label label-info">number of employees with 1 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithOnlyOneLevelOfApproval()</label></span>                    
                        <span class="label label-info">number of employees with 0 level of approvals: <label style="color:Red;">@Model.GetNumberOfParticipantsWithNoLevelOfApproval()</label></span>                                                            
                        </h5>
                    }
                   }
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body" style="padding:0px;">
                       <table class="table table-bordered" style="border-collapse:collapse;border-spacing:0px 0px;">
                          <thead>
                          <tr class="success">
                            <th></th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Number of level of approvers</th>                           
                          </tr>
                          </thead>
                          <tbody id="eicontent">
                          @if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Participants))
                          {
                              foreach (eHR.PMS.Model.DTO.Core.Employee ei in Model.Participants)
                              {
                              <tr>
                                <td><input type="hidden" class="eid" value="@ei.Id" /></td>
                                <td>@(ei.PreferredName)</td>
                                <td>@(ei.Department.Name)</td>
                                <td>@ei.GetNumberOfApprovers()</td>
                              </tr>
                              }
                          }
                          </tbody>
                       </table> 
                       <div style="text-align:center;">
                            <span id="pages"></span>
                            <!--<span>Go to Page: <select id="showpage">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            </span>-->
                       </div>     
                  <div id="buttongroup" style="float:right;">
             <div>
                 <button type="button" class="btn btn-success btn-xs" id="btn_start_cycle"><i class="glyphicon glyphicon-play"></i> Start</button>
                 <button type="button" id="btn_cancel" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-stop"></i> Cancel</button>
             </div>
            </div>
                  </div>
                  
                </div>
            </div>
        </div>
        </div>
            </div>
                       <!--pop up info for cancel -->
            <div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>All information that are not saved will be discarded. Are you sure you want to return to the main menu?</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="@(Url.Content("~/HRMAnage/CancelViewAppraisal"))" class="btn btn-primary">Yes</a>
                    <!--<button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>-->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

<!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
    <div style="top:50%;" class="modal fade" id="RedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@message</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
    <div style="top:50%;" class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-warning alert-dismissable">
                  <strong>@msg_error</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--pop up info for redirect -->
    <div style="top:50%;" class="modal fade" id="RemoveParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="resultcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-warning alert-dismissable">
                  <strong>There are no employees to remove.</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<input type="hidden" id="forRazorValue"  num='@(Model.GetNumberOfParticipants())' rooturl="@(Url.Content("~/"))" 
message='@(message)' errormessage="@(msg_error)" pageurl="@(Url.Content("~/HRManage/RetrieveByPageNew"))" nowdate="@(DateTime.Now.ToString("dd/MM/yyyy"))" />
@section scripts
        {
        <!--<script type="text/javascript">
            require["~/Scripts/module/home/Index"];
        </script>-->
        <script type="text/javascript" src="@(Url.Content("~/Scripts/module/hrmanage/NewCycle.js"))"></script>
        }
