@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@model ACR_PMSSystem.Common.PMSPageInfo

@{int index = 0; int commentsindex = 0;}

 <div class="frame">
        <ul class="nav nav-tabs">
           @{if(Model.SCList!=null)
              {
                  foreach (ACR_PMSSystem.Models.MasterSectionInfo sc in Model.SCList)
                  {
                      if (sc.Name.Replace(" ", "") == ViewContext.RouteData.Values["Action"].ToString())
                      {
                        <li class="active"><a sectionid="@sc.ID" href="/Stage3Approval/@(sc.Name.Replace(" ", ""))/@(Model.TaskId)/@(Model.ApprisalId)#" >@sc.Name</a></li>
                      }
                      else
                      {
                        <li><a sectionid="@sc.ID" href="/Stage3Approval/@(sc.Name.Replace(" ", ""))/@(Model.TaskId)/@(Model.ApprisalId)#" >@sc.Name</a></li>
                      }
                  }
            }
            }
                
        </ul>
        <div  class="row" style="padding:10px;">
          <div class="col-md-10">
           <div id="Description" class="alert alert-success">
            <h4>Key Performance Indicators Descriptions:</h4>
            <p>
                You will need to....<br />
                You are to complete...<br />
                Once you have....<br /> 
            </p>
            <h4>Performance Rating Descriptions:</h4>
            <p>
                <span class="badge">5</span> - Far Exceeds<br />
                        <span class="badge">4</span> - Exceds Expec...<br />
                        <span class="badge">3</span> - Meets Expec....<br /> 
            </p>
            </div>
           <form action="/Stage3Approval/CoreValues/@(Model.TaskId)/@Model.ApprisalId" method="post">
           <input type="hidden" value="0" id="ApORRe" name="ApORRe" />
          @foreach (ACR_PMSSystem.Models.PMSBlockInfo kpinfo in Model.BIList)
           {
               
              <div id="@(kpinfo.BlockName.Split('/')[0])" class="panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#Financials" href="#collapse(@index)">
                      @kpinfo.BlockName
                    </a>
                  </h4>
                  <h6><span class="help-block">We air to be the best</span></h6>
                </div>
                <div id="collapse(@index)" class="panel-collapse collapse in">
                  <div class="panel-body">
                  
                    <div blockid="@kpinfo.BlockID" class="tablediv" style="display:none;">
                        
                        <table class="table">
                            <thead class="">
                                <tr class="thead-color">
                                    <th></th>
                                    <th>Key Performance Indicator</th>
                                    <th>Performance Target</th> 
                                    <th style="width:10%">Score</th>                                 
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="KPItbody">
                                @{if (Model.CoreValuesList != null && Model.CoreValuesList.Count > 0)
                                  {
                                      IEnumerable<ACR_PMSSystem.Models.PMSCoreValuesInfo> list = ((List<ACR_PMSSystem.Models.PMSCoreValuesInfo>)Model.CoreValuesList).Where(a => a.BlockID == kpinfo.BlockID);
                                      foreach (ACR_PMSSystem.Models.PMSCoreValuesInfo kpi in list)
                                      {
                                            <tr>
                                                <td><input type="hidden" class="KPIID" value="@kpi.CoreValuesID" /></td>
                                                <td>@kpi.Competency</td>
                                                <td>@kpi.Target</td>
                                                 <td>
                                                    <select name="score@(kpi.CoreValuesID)" kpiid="@kpi.CoreValuesID" class="colorselect selectpicker show-tick">
                                                        <option data-content="<span class='label label-danger'>Red</span>" selected="selected" >Red</option>
                                                        <option data-content="<span class='label label-success'>Green</span>">Green</option>
                                                        <option data-content="<span class='label label-warning'>Amber</span>">Amber</option>
                                                        <option data-content="<span class='label label-info'>Blue</span>">Blue</option>
                                                    </select>
                                                  </td>
                                                  <td style="display:none;">
                                                @{if (kpi.Comments != null && kpi.Comments.Count > 0)
                                                  {
                                                    <div class="Comments">
                                                            <div style="width:500px;">                                                   
                                                            <ul class="list-group">
                                                          @foreach (ACR_PMSSystem.Models.PMSCommentsInfo comment in kpi.Comments)
                                                          {
                                                             <li class="list-group-item">
                                                             <span class="badge">By @(comment.CommentsByName) on @(comment.CommentsTimeStamp.ToString("hh:mm tt,dd-MMM-yyyy"))</span>                                                                                                                           
                                                             <br />
                                                             <p style="word-wrap:break-word;">@comment.Comments</p>
                                                              </li>
                                                          }
                                                            </ul> 
                                                            </div>                                                  
                                                     
                                                   </div>
                                                  }
                                                  else
                                                  {
                                                    <div class="Comments"></div>
                                                  }
                                                  }
                                                </td>
                                                <td align="right">
                                                    <a commentsid="@(kpinfo.BlockID)@(commentsindex++)" href="javascript:void(0)" class="ViewKpiComments btn btn-warning btn-xs" ><i class="glyphicon glyphicon-pencil"></i> View Comments</a>                                                     
                                                </td>
                                            </tr>
                                      }
                                  }
                                }
                            </tbody>
                         </table>
                    </div>             
                  </div>
                </div>
            </div>
           </div> 
                                  index++;
           }
           @{
               if (ViewData["ApprovalLevel"].ToString()=="1")
               {
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-3 input-group input-group-sm">
                          <span class="input-group-addon">Level1 Manager's Finial Score:</span>
                          <input type="text" class="form-control scoreinput" />
                        </div>
                    </div>
               }
               else
               {
                   if(ViewData["ApprovalLevel"].ToString()=="2")
                   {
                       <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-3 input-group input-group-sm">
                          <span class="input-group-addon">Level1 Manager's Finial Score:</span>
                          <input type="text" class="form-control scoreinput" disabled="disabled" />
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 input-group input-group-sm">
                              <span class="input-group-addon">Finial Score:</span>
                              <input type="text" class="form-control scoreinput" />
                            </div>
                         </div>
                   }
               }
           }
           <div id="buttongroup" style="text-align: center;">
                     <div style="float:left;">
                         <a href="/Stage3Approval/KeyPerformanceIndicators/@(Model.TaskId)/@Model.ApprisalId" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-hand-left"></i> Prev</a>
                         <!--<button type="button" id="stage1kpiapproval" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok-circle"></i> Approve</button>
                         <button type="button" id="stage1kpireject" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove-circle"></i> Reject</button> -->
                         <button type="button" id="stage1kpisubmit" class="btn btn-warning btn-xs">Next <i class="glyphicon glyphicon-hand-right"></i></button>                                         
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Stage3Approval/PerformanceCoachingandReview/@Model.TaskId/@Model.ApprisalId" class="btn btn-warning btn-xs">Skip <i class="glyphicon glyphicon-share-alt"></i></a>                                        
                     </div>
                     <!--<button type="button" id="stage1kpisubmit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Submit</button>
                     -->
                     <div style="float:right;">
                         <button type="button" data-loading-text="Saving...." id="stage1kpisave" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-save"></i> Save</button>
                         <button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
                     </div>
                    </div>

            <!--pop up info for submit -->
            <div style="top:50%;" class="modal fade" id="SubmitInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                        <div class="alert alert-warning alert-dismissable">
                          <strong>Are you sure submit your CoreValues now?</strong>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-loading-text="Submit...." class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
           </form>
          </div>
          <div id="sidenav" data-spy="affix" class="col-md-2" style="right:50px;">
                <ul class="nav nav-pills nav-stacked" style="border:1px solid #E1E1E8">
                  <li><h5 style="padding:10px 15px;">Quick link</h5></li>
                  <li class="divider"></li>
                  <li><a href="#header">Top</a></li>
                  @foreach (ACR_PMSSystem.Models.PMSBlockInfo kpinfo in Model.BIList)
                  {
                     <li><a href="#@(kpinfo.BlockName.Split('/')[0])">@kpinfo.BlockName</a></li> 
                  }

                </ul>
                 <ul class="nav nav-pills nav-stacked autosaveloading" style="border:1px solid #E1E1E8;margin-top:10px;text-align:center;">
                    <li><h6><img alt="" src="/Content/img/ajax-loader.gif" />Autosaving....</h6></li>
                </ul>
         </div>
        </div>
    </div>

    

    <!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="/Content/img/ajax-loader.gif" />
          </div>
        </div><!-- /.modal-content -->
        <div id="resultcontent" class="modal-content" style="display:none;">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>All KPI data has been saved successfully!</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
                <!--pop up info for redirect-->
    <div style="top:50%;" class="modal fade" id="RedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="submitcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@message</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->      

    <script type="text/javascript">
        var message = '@message';
        var savefunction = function () {
            var KPIArray = new Array();
            $.each($(".colorselect"), function () {
                KPIArray.push({ KpiId: $(this).attr("kpiid"), Score: $(this).val() });
            });
            $.ajax({
                url: "/Stage3Approval/CoreValuesSave",
                type: "POST",
                dataType: "Json",
                data: { "KPIForDatabase": JSON.stringify(KPIArray) },
                beforeSend: function () {
                    //$("#stage1kpisave").button('loading');
                    //$("#buttongroup").showLoading();
                    $('#resultcontent').hide();
                    $('#loadingcontent').show();
                    $('#InfoModal').modal();
                },
                success: function (data) {
                    //$("#stage1kpisave").button('reset');
                    $('#loadingcontent').hide();
                    $('#resultcontent').show();
                    //$('#InfoModal').modal();
                }
            });
        };
        var autosavefunction = function () {
            var KPIArray = new Array();
            $.each($(".colorselect"), function () {
                KPIArray.push({ KpiId: $(this).attr("kpiid"), Score: $(this).val() });
            });
            $.ajax({
                url: "/Stage3/CoreValuesSave",
                type: "POST",
                dataType: "Json",
                data: { "KPIForDatabase": JSON.stringify(KPIArray) },
                beforeSend: function () {
                    $("#autosaveloading").show('slow');
                    $("#stage1kpisave").attr("disabled", true);
                },
                success: function (data) {
                    $("#autosaveloading").hide('slow');
                    $("#stage1kpisave").attr("disabled", false);
                }
            });
        };
        $(function () {
            if (message)
                $('#RedirectModal').modal();
            $('body').scrollspy({ target: '#sidenav' });
            $('.selectpicker').selectpicker();
            $.each($(".KPIID"), function () {
                $(this).parent().parent().parent().parent().parent().show();
            });
            $(".scoreinput").tooltip({ placement: 'top', title: 'range: 1-5', trigger: 'focus' });
            $('button[data-loading-text]').click(function () {
                $(this).button('loading');
            });
            $("#stage1kpisubmit").click(function () {
                $("modelmessage").text("Are you sure submit this now?")
                $('#SubmitInfoModal').modal();
            });
            /*$("#stage1kpiapproval").click(function () {
                $("#ApORRe").val("1");
                $("modelmessage").text("Are you sure approve this now?")
                $('#SubmitInfoModal').modal();
            });
            $("#stage1kpireject").click(function () {
                $("#ApORRe").val("0");
                $("modelmessage").text("Are you sure reeject this now?")
                $('#SubmitInfoModal').modal();
            });*/
            $("#stage1kpisave").click(savefunction);
            $(".panel-body").on('click', '.ViewKpiComments', function () {
                if ($(".popover").length == 0) oddClick = true;
                if (oddClick) {
                    oddClick = !oddClick;
                    oldComments = newComments = $(this).attr("commentsid");
                    $(this).popover({
                        title: 'Comments',
                        placement: 'top',
                        html: 'true',
                        content: function () {
                            var content = $(this).parent().parent().find(".Comments").html();
                            return (content != "" ? content : "There is no Comments");
                        }
                    });
                    $(this).popover('show');
                }
                else {
                    newComments = $(this).attr("commentsid");
                    if (oldComments != newComments) {
                        oldComments = $(this).attr("commentsid");
                        $(".ViewKpiComments").popover('destroy');
                        $(this).popover({
                            title: 'Comments',
                            placement: 'top',
                            html: 'true',
                            content: function () {
                                var content = $(this).parent().parent().find(".Comments").html();
                                return (content != "" ? content : "There is no Comments");
                            }
                        });
                        $(this).popover('show');
                    }
                    else {
                        oddClick = !oddClick;
                        $(this).popover('destroy');
                    }
                }

            });

        });
        //setInterval(autosavefunction, 300000); 
    </script>
