@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@model eHR.PMS.Web.Models.DTO.AppraisalPage
@{int index = 0; int kpiindex = 0; int commentsindex = 0;}

 <div class="frame">
           <ul id="sectionlist" class="nav nav-tabs">
            @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Sections))
              {
                  bool flag = false;
                  foreach (eHR.PMS.Model.DTO.Master.Section sc in Model.Sections)
                  {
                      if (sc.Name.Replace(" ", "").ToLower() == ViewContext.RouteData.Values["Action"].ToString().ToLower())
                      {
                          flag = true;
                          <li class="active"><a sectionid="@sc.Id" href="@(Url.Content("~/Stage2/"))@(sc.Name.Replace(" ", ""))/@(Model.CurrentTaskId)/@(Model.Appraisal.Id)#" >@sc.Name</a><input type="hidden" value="@sc.Id" name="SectionID" /></li>  
                      }
                      else
                      {
                          if (flag && (!Model.ViewOnly))
                          {
                                    <li><a sectionid="@sc.Id" class="Next" href="#" >@sc.Name</a></li>
                          }
                          else
                          {
                                <li><a sectionid="@sc.Id" href="@(Url.Content("~/Stage2/"))@(sc.Name.Replace(" ", ""))/@(Model.CurrentTaskId)/@(Model.Appraisal.Id)#" >@sc.Name</a></li>
                          }
                      }
                  }
              }
            }  
        </ul>
        <div  class="row" style="padding:10px;">
          <div class="col-md-10">
            <div id="Description" class="alert alert-success">
            <h4>ACR Core Values :</h4>
            <p>
                The ACR Core Values guides our behaviours, the way we conduct business and how we treat our clients and colleagues. 
                Living the values is essential to creating and reinforcing our corporate values.<br />
            </p>
            <p>
                All Core Values (RIPPLES) must be evaluated for the year.<br />
            </p>
            <br />
            <h4>Core Value Ratings :</h4>
            <p>
                <img alt="ACR Core Value Rating Descriptors" src="@(Url.Content("~/Content/img/pms_corevalue_rating_description.jpg"))" />
            </p>
            </div>
           <form action="@(Url.Content("~/Stage2/CoreValues/"))@Model.CurrentTaskId/@Model.Appraisal.Id" method="post">
            <input type="hidden" name="deleteKPIid" id="deleteKPIid" />
          @foreach (eHR.PMS.Model.DTO.Master.Block kpinfo in Model.CurrentSection.Blocks)
          {
               
              <div id="@(kpinfo.Name.Split('/')[0])" class="panel-group" style="margin-bottom:10px;">
            <div class="panel panel-default" style="overflow: visible;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#Financials" href="#collapse@(index)">
                      @(kpinfo.Name)
                    </a>
                  </h4>
                  <h6><span class="help-block">@(kpinfo.Description)</span></h6>
                </div>
                <div id="collapse@(index)" class="panel-collapse collapse in">
                  <div class="panel-body">
                  
                    
                   <div class="row">
                        <div class="panel panel-info" style="margin:20px;">
                            <div class="panel-heading">Core Competency:</div>
                              <div class="panel-body">
                                <ul class="list-group">
                                    @{ if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.CoreValueCompetencies))
                                       {
                                           IEnumerable<eHR.PMS.Model.DTO.GradeCompetency> lst_competencies = Model.CoreValueCompetencies.Where(rec => rec.Block.Id == kpinfo.Id);
                                           foreach (eHR.PMS.Model.DTO.GradeCompetency c in lst_competencies)
                                           { 
                                                <li class="list-group-item">@c.Name</li>
                                           }
                                       }

                                    }
                                </ul>
                              </div>
                              @{ if (!Model.ViewOnly)
                                 {
                                      <div class="panel-footer">
                                            <span class="label label-danger">Performance Target:</span>
                                            <br />
                                            <textarea class="corevaluetext idleField" rows="3"></textarea>
                                      </div>
                                 }
                                }
                        </div>
                    </div>
                    @{ if (!Model.ViewOnly)
                       {
                            <div class="Adddiv">
                              <button type="button" class="AddKPIItem btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Add</button>                               
                            </div>
                            <div class="Updatediv" style="display:none;">
                              <button type="button" class="UpdateKPIItem btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i> Update</button>
                              <button type="button" class="CancelKPIItem btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                            </div> 
                       }
                     }  
                    <div blockid="@(kpinfo.Id)" class="tablediv" style="display:none;">
                        
                        <table class="table">
                            <thead class="">
                                <tr class="thead-color">
                                    <th></th>
                                    <th style="width:35%">Performance Target</th>                                   
                                    <th style="width:30%"></th>
                                </tr>
                            </thead>
                            <tbody class="KPItbody">
                                @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(Model.Appraisal.CoreValues))
                                  {
                                      IEnumerable<eHR.PMS.Model.DTO.Appraisal.CoreValue> list = Model.Appraisal.CoreValues.Where(rec => rec.Block.Id == kpinfo.Id);
                                      foreach (eHR.PMS.Model.DTO.Appraisal.CoreValue kpi in list)
                                      {
                                            <tr>
                                                <td><input type="hidden" class="KPIID" value="@(kpi.Id)" /></td>
                                                <td>@(kpi.Target)</td>
                                                <td style="display:none;">
                                                <input type="text" class="KPIforDatabase" name="KPIforDatabase@(kpiindex++)Block@(kpinfo.Id)" value="@(kpi.Id)^&*@(kpi.Appraisal.Id)^&*@(Model.CurrentSection.Id)^&*@(kpi.Block.Id)^&*@(kpi.Target)^&*ONERECORDENDED"/>
                                                @{if (!eHR.PMS.Lib.Utility.Common.IsNullOrEmptyList(kpi.Comments))
                                                  {
                                                    <div class="Comments">
                                                            <div style="width:500px;">                                                   
                                                            <ul class="list-group">
                                                          @foreach (eHR.PMS.Model.DTO.Appraisal.CoreValueComment comment in kpi.Comments)
                                                          {
                                                             <li class="list-group-item">
                                                             <span class="badge">By @(comment.Commentor.PreferredName) on @(Convert.ToDateTime(comment.CommentedTimestamp).ToString("hh:mm tt,dd-MMM-yyyy"))</span>                                                                                                                           
                                                             <br />
                                                             <p style="word-wrap:break-word;">@(comment.Comments)</p>
                                                              </li>
                                                          }
                                                            </ul> 
                                                            </div>                                                  
                                                     
                                                   </div>
                                                  }
                                                  else
                                                  {
                                                    <div class="Comments"></div>
                                                  }
                                                  }

                                                </td>
                                                <td align="right">
                                                 @{ if (!Model.ViewOnly)
                                                    {
                                                         <a href="javascript:void(0)" class="EditKPI btn btn-info btn-xs"><i class="glyphicon glyphicon-wrench"></i> Edit</a>
                                                         <a href="javascript:void(0)" class="RemoveKPI btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Remove</a>
                                                    
                                                    }
                                                  }
                                                    <a commentsid="@(kpinfo.Id)@(commentsindex++)" href="javascript:void(0)" class="ViewKpiComments btn btn-warning btn-xs" ><i class="glyphicon glyphicon-pencil"></i> View Comments</a>                                                     
                                                </td>
                                            </tr>
                                      }
                                  }
                                }
                            </tbody>
                         </table>
                    </div>      
                  </div>
                </div>
            </div>
           </div> 
                                      index++;
          }
           
           <div id="buttongroup" style="text-align: center;">
             <div style="float:left;">
                 <a href="@Url.Content("~/Stage2/KeyPerformanceIndicators/")@(Model.CurrentTaskId)/@(Model.Appraisal.Id)" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-hand-left"></i> Prev</a>
                 @{if(!Model.ViewOnly)
                   {
                        <button type="button" id="stage1kpisubmit" class="btn btn-warning btn-xs">Next <i class="glyphicon glyphicon-hand-right"></i></button>
                        <!--<a href="@(Url.Content("~/Stage2/PerformanceCoachingandReview/"))@Model.CurrentTaskId/@Model.Appraisal.Id" class="btn btn-warning btn-xs">Skip <i class="glyphicon glyphicon-share-alt"></i></a> -->
 
                   }
                   else
                   {
                        <a href="@(Url.Content("~/Stage2/PerformanceCoachingandReview/"))@Model.CurrentTaskId/@Model.Appraisal.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-hand-right"></i> Next</a>
                   }
                  }
             </div>
             <!--<button type="button" id="stage1kpisubmit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> Submit</button>
             -->
             <div style="float:right;">           
                    @{if (!Model.ViewOnly)
                      { 
                            <button type="button" data-loading-text="Saving...." id="stage1kpisave" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-save"></i> Save</button>
                            <button type="button" class="btn btn-danger btn-xs" id="btn_appraisal_cancel"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
                      }
                      else
                      {
                            <a href="@(Url.Content("~/"))" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</a>
                      }
                      }            
             </div>
            </div>


            <!--pop up info for submit -->
            <div style="top:50%;" class="modal fade" id="SubmitInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                        <div class="alert alert-warning alert-dismissable">
                          <strong>Information entered for Core Values will be saved. Do you want to continue?</strong>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" data-loading-text="Submit...." class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

<!--pop up info for cancel -->
            <div style="top:50%;" class="modal fade" id="CancelInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog" style="text-align:center;">
                <div  class="modal-content">
                  <div class="modal-body" style="padding-bottom:0px;">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>@(eHR.PMS.Web.Resources.Resource.MSG_CANCEL)</strong>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="btn_cancel_modal_ok" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
           </form>
          </div>
          <div id="sidenav" data-spy="affix" class="col-md-2 affix" style="right:2%;">
                <ul class="nav nav-pills nav-stacked" style="border:1px solid #E1E1E8">
                  <li><h5 style="padding:10px 15px;">Quick link</h5></li>
                  <li class="divider"></li>
                  <li><a href="#header">Top</a></li>
                  @{foreach (eHR.PMS.Model.DTO.Master.Block kpinfo in Model.CurrentSection.Blocks)
                    {
                        <li><a href="#@(kpinfo.Name.Split('/')[0])">@kpinfo.Name</a></li> 
                    }  
                   }
                </ul>
                <ul class="nav nav-pills nav-stacked autosaveloading" id="autosaveloading" style="border:1px solid #E1E1E8;margin-top:10px;text-align:center; display:none;">
                    <li><h6><img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />Autosaving....</h6></li>
                </ul>
         </div>
        </div>
    </div>

    

    <!--pop up info for ajaxsave -->
    <div style="top:50%;" class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="loadingcontent" class="modal-content">
          <div class="modal-body">
                <img alt="" src="@(Url.Content("~/Content/img/ajax-loader.gif"))" />
          </div>
        </div><!-- /.modal-content -->
        <div id="resultcontent" class="modal-content" style="display:none;">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@(eHR.PMS.Web.Resources.Resource.MSG_SAVE_SUCCESS_CORE_VALUE)</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!--pop up info for redirect-->
    <div style="top:50%;" class="modal fade" id="RedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" style="text-align:center;">
        <div id="submitcontent" class="modal-content">
          <div class="modal-body" style="padding-bottom:0px;">
                <div class="alert alert-success alert-dismissable">
                  <strong>@message</strong>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

 <input type="hidden" id="forRazorValue"  saveurl="@(Url.Content("~/Stage2/CoreValuesSave"))" apprid='@Model.Appraisal.Id'
    rooturl="@(Url.Content("~/"))"/>
@section scripts
        {
        <!--<script type="text/javascript">
            require["~/Scripts/module/home/Index"];
        </script>-->
        <script type="text/javascript" src="@(Url.Content("~/Scripts/module/stage2/CoreValues.js"))"></script>
        }

